@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Raleway|Yesteryear&display=swap');

body {
  background: image_url('topography.png') fixed;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}
a {
  color: black;
}
a:hover {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
.col-10 {
  flex: 0 0 96%;
  max-width: 96%;
  margin-top: 2%;
}
.col-sm-5 {
  flex: 0 0 22.5%;
  max-width: 22.5%;
}
@media (max-width: 2880px) {
  .col-sm-5 {
    flex: 0 0 30.66666666666667%;
    max-width: 30.66666666666667%;
  }
}
@media (max-width: 1920px) {
  .col-sm-5 {
    flex: 0 0 47%;
    max-width: 47%;
  }
}
@media (max-width: 960px) {
  .col-sm-5 {
    flex: 0 0 96%;
    max-width: 96%;
  }
}
.offset-1 {
  margin-left: 2%;
}
.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.navbar-inverse:hover .navbar-nav:hover .nav-link:hover {
  color: white;
  font-weight: bolder;
}
.navbar {
  background: image_url('cartography.png') fixed;
  -moz-box-shadow: 0px 2px 8px 0 #999999;
  -webkit-box-shadow: 0px 2px 8px 0 #999999;
  box-shadow: 0px 2px 8px 0 #999999;
}
.navbar-inverse .navbar-brand {
  color: #cc0000;
  font-family: 'gondola_sdregular', serif;
  font-size: 40px;
  font-weight: bolder;
  line-height: 40px;
  padding: 10px 0px 0px 0px;
  text-shadow: 0px 8px 2px #000000;
}
.booyah-box {
  -moz-box-shadow: 0px 2px 8px 0 #cccccc;
  -webkit-box-shadow: 0px 2px 8px 0 #cccccc;
  box-shadow: 0px 2px 8px 0 #cccccc;
  background: #fff;
  border: none;
  padding: 20px;
}

.digg_pagination {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  background: white;
  cursor: default;
  /* self-clearing method: */
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  display: block;
  min-width: 30px;
  height: 30px;
  padding: 0px 10px 0px 10px;
  margin: 0px 5px 0px 5px;
}
.digg_pagination .disabled {
  background: white;
  color: #999999;
  -moz-box-shadow: 0px 2px 8px 0 #cccccc;
  -webkit-box-shadow: 0px 2px 8px 0 #cccccc;
  box-shadow: 0px 2px 8px 0 #cccccc;
}
.digg_pagination .current {
  font-style: normal;
  background: #cc0000;
  color: white;
  -moz-box-shadow: 0px 2px 8px 0 #cccccc;
  -webkit-box-shadow: 0px 2px 8px 0 #cccccc;
  box-shadow: 0px 2px 8px 0 #cccccc;
}
.digg_pagination a {
  text-decoration: none;
  color: #cc0000;
  -moz-box-shadow: 0px 2px 8px 0 #cccccc;
  -webkit-box-shadow: 0px 2px 8px 0 #cccccc;
  box-shadow: 0px 2px 8px 0 #cccccc;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  background: #cc0000;
  color: white;
}
.digg_pagination .page_info {
  background: #cc0000;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #cc0000;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .digg_pagination {
  height: 1%;
}
*:first-child + html .digg_pagination {
  overflow: hidden;
}
.pagination {
  display: inline-flex;
}
.digg_pagination a.previous_page, .digg_pagination span.previous_page {
  position: absolute;
  left: 0px;
  margin: 0px 5px 0px 0px;
}
.digg_pagination a.next_page, .digg_pagination span.next_page {
  position: absolute;
  right: 0px;
  margin: 0px 0px 0px 5px;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #cc0000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: 20px;
  background-color: white;
}
.btn:hover {
  border: 1px solid #cc0000;
  color: white;
  font-weight: 700;
  background-color: #cc0000;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
}
.float-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}
#map {
  height: 300px;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
